/**
    |============================
    | Header
    |============================
  */
header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  // Phone/Tabelt screen
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  color: var(--primary-accent-color);

  // Tabelt screen
  @media screen and (min-width: 768px) {
    margin-right: 87px;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  // Desktop screen
  @media screen and (min-width: 1200px) {
    margin-right: 92px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-item {
  color: var(--primary-color);
}

/* Navigation */
.main-nav {
  // Desktop screen
  display: flex;
  align-items: center;

  // Phone screen
  @media screen and (max-width: 767.98px) {
    display: none;
  }
}

.nav-list {
  display: flex;
  margin-right: 96px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-item + .nav-item {
  margin-left: 50px;
}

.nav-item > .nav-link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;
  color: var(--primary-color);
  transition: color var(--transition-duration)
    cubic-bezier(var(--transition-time-func));

  &.current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--primary-accent-color);
    border-radius: 2px;
  }

  &:hover,
  &:focus {
    color: var(--primary-accent-color);
  }
}

.nav-link > .link-studio-text {
  color: var(--primary-accent-color);
}

.nav-link > .link-portfolio-text {
  color: var(--primary-accent-color);
}

/* Header contacts */
.contacts-list {
  // Desktop screen
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
  }

  // Tablet screen
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  // Phone screen
  @media screen and (max-width: 767.98px) {
    display: none;
  }
}

.contacts-item + .contacts-item {
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}

.contacts-list .contacts-link {
  // Desktop screen
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 32px;
    padding-bottom: 31px;
    color: var(--secondary-color);
    fill: currentColor;
    transition: color var(--transition-duration)
        cubic-bezier(var(--transition-time-func)),
      fill var(--transition-duration) cubic-bezier(var(--transition-time-func));

    &:hover,
    &:focus {
      color: var(--primary-accent-color);
      fill: currentColor;
    }
  }

  // Tabelt screen
  @media screen and (min-width: 768px) {
    display: flex;
    font-size: 12px;
    line-height: calc(14 / 12);
    align-items: center;
    gap: 10px;
    padding: 0;
    color: var(--secondary-color);
    fill: currentColor;
  }
}

.mail {
  // Desktop screen
  width: 16px;
  height: 12px;

  // Tablet screen
  @media screen and (min-width: 768px) {
    width: 14px;
    height: 10px;
  }
}

.tel {
  // Desktop screen
  width: 10px;
  height: 16px;

  // Tablet screen
  @media screen and (min-width: 768px) {
    width: 10px;
    height: 14px;
  }
}
