/**
  |============================
  | Modal window
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop-color);
  transition: opacity 900ms cubic-bezier(var(--transition-time-func)),
    transform 1000ms cubic-bezier(var(--transition-time-func));
}

.backdrop.is-hidden {
  opacity: 0;
  transform: scale(0);
  pointer-events: none;
}

.modal {
  // Mobile screen
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 100%;
  max-width: 450px;
  background: var(--primary-white-color);

  // Desktop screen
  @media screen and (min-width: 1200px) {
  min-width: 528px;
  }
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  color: var(--primary-accent-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: 1px solid transparent;
}

.modal-btn-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill var(--transition-duration)
    cubic-bezier(var(--transition-time-func));
}

.modal-btn:hover > .modal-btn-icon,
.modal-btn:focus > .modal-btn-icon {
  fill: currentColor;
}

.modal-title {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
}

/* Form */
.modal-label {
  display: flex;
  position: relative;
  flex-direction: column;
}

.modal-label:not(:nth-child(4)) {
  margin-bottom: 10px;
}

.label-text {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 35px;
  padding-right: 5px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-duration)
    cubic-bezier(var(--transition-time-func));
}

.modal-input:hover,
.modal-input:focus {
  border-color: var(--primary-accent-color);
  outline: 1px solid transparent;
}

.icon-modal-input {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--primary-color);
  transition: fill var(--transition-duration)
    cubic-bezier(var(--transition-time-func));
}

.modal-input:hover + .icon-modal-input,
.modal-input:focus + .icon-modal-input {
  fill: var(--primary-accent-color);
}

.modal-textarea {
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-duration)
    cubic-bezier(var(--transition-time-func));
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-textarea:hover,
.modal-textarea:focus {
  border-color: var(--primary-accent-color);
  outline: 1px solid transparent;
}

.modal-label-checkbox {
  display: flex;
  justify-content: center;
  gap: 7px;
  margin-top: 20px;
  margin-bottom: 30px;
  align-items: center;
}

.modal-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkbox-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  color: transparent;
  transition: background-color var(--transition-duration)
      cubic-bezier(var(--transition-time-func)),
    color var(--transition-duration) cubic-bezier(var(--transition-time-func)),
    border var(--transition-duration) cubic-bezier(var(--transition-time-func));
}

.modal-checkbox:checked + .checkbox-custom {
  background-color: var(--primary-accent-color);
  color: var(--primary-white-color);
  border: 2px solid transparent;
}

.icon-confirm-button {
  fill: currentColor;
}

.policy-text {
  // Phone screen
  font-size: 12px;
  line-height: calc(14 / 12);
  color: var(--secondary-color);

  // Desktop screen
  @media screen and (min-width: 1200px) {
  font-size: 14px;
  line-height: calc(24 / 14);
  }
}

.policy-link {
  // Phone screen
  font-size: 12px;
  line-height: calc(14 / 12);
  text-decoration-line: underline;
  color: var(--primary-accent-color);

  // Desktop screen
  @media screen and (min-width: 1200px) {
  font-size: 14px;
  line-height: calc(24 / 14);
  }
}

.modal-form-btn {
  display: block;
  width: 200px;
  min-height: 50px;
  padding: 10px 52px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--primary-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--transition-duration)
    cubic-bezier(var(--transition-time-func));
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--secondary-accent-color);
}
