/* Global variables */
:root {
    --primary-color: #212121;
    --primary-white-color: #ffffff;
    --primary-accent-color: #2196f3;
    --secondary-accent-color: #188ce8;
    --secondary-color: #757575;
    --secondary-white-color: #f5f4fa;
    --cards-border-color: #eeeeee;
    --secondary-gray-color: #afb1b8;
    --transition-duration: 250ms;
    --transition-time-func: 0.4, 0, 0.2, 1;
    --backdrop-color: rgba(0, 0, 0, 0.2);
    --thumb-background-color: rgba(33, 150, 243, 0.9);
  }